@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: white;
}
.conatiner {
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(19px) saturate(180px);
}
.bottom{
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(19px) saturate(180px);
}
.custom-toast {
  background-color: #333;
  color: #fff;
}

.custom-toast-body {
  color: #ffcc00; /* Custom text color */
}
